.container {
  position: fixed;
  top: var(--widget-position-padding);
  right: var(--widget-position-padding);
  width: 100%;
  max-width: var(--widget-max-width);
  padding: var(--widget-padding);
  background-color: var(--widget-background-color);
  border-radius: var(--widget-container-border-radius);
}
