.container {
  position: fixed;
  display: flex;
  width: 100%;
  top: var(--widget-position-padding);
  right: var(--widget-position-padding);
  width: 100%;
  height: var(--widget-size);
  padding: var(--widget-padding);
  max-width: var(--widget-max-width);
  background-color: var(--widget-background-color);
  border-radius: var(--widget-container-border-radius);
  transition: var(--widget-transition);
  z-index: var(--widget-z-index);
  overflow-x: auto;
}

.container_unactive {
  width: var(--widget-size);
  align-items: center;
  justify-content: center;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.phoneButton {
  width: 32px;
  height: 32px;
  margin: auto;
}

.submitButton {
  height: 32px;
  background-color: var(--widget-accent-color-1);
}

.phoneIcon {
  color: var(--widget-icon-color);
}

.phoneInput {
  box-sizing: border-box;
  height: 32px;
  transition: var(--widget-transition);
  width: 100%;
}

input.hiddenInput {
  position: absolute;
  width: 0px;
  padding: 0px;
  opacity: 0;
  border: none;
}